body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://media.timeout.com/images/105881603/750/562/image.jpg');
    background-size: cover;
    background-attachment: fixed;
   
}

header {
    background-color: rgba(1, 1, 2, 0.84);
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
   
    padding: 60px 20px;
    text-align: center;
}
#home h1,p,#about h1,p,#menu h1,p,ul,#services,h1,p,#contact h1,p{
    color: rgb(244, 235, 235);
font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}




section:nth-child(odd) {

    background-color: rgba(0, 0, 0, 0.7);;
}

section:nth-child(even) {
    
    background-color: rgba(0, 0, 0, 0.7);;
}

footer {
    
    background-color: rgba(0, 0, 5, 0.84);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

ul li {
    padding: 5px 0;
   
}
